.contact
  h2.contact__title.section__title Contacto
  p.contact__description.section__description
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas feugiat dolor. Quisque eget eros quis neque egestas ultricies. Aliquam porttitor metus ut egestas consequat. Nullam vel dui in justo scelerisque egestas. Cras non facilisis justo.
  form.form--contact
    input(name="name" id="name" placeholder="Nombres").form__item
    input(type="email" name="email" id="email" placeholder="Correo electrónico").form__item
    textarea(name="message" id="message" placeholder="Escribe tu mensaje" rows="8").form__item
    input(type="submit" value="Contrátame").form__item.form__submit
