.gallery
  h2.gallery__title.section__title Galería
  nav.gallery__nav
    ul.menu--section
      li.menu__item: a(href="#").menu__link.active Todo
      li.menu__item: a(href="#").menu__link Gente
      li.menu__item: a(href="#").menu__link Lugares
      li.menu__item: a(href="#").menu__link Naturaleza
  .img-gallery
    -for (var i = 1; i < 13; i++)
      .img-gallery__item
        if (i < 10)
          img(src="img/0"+i+".jpg").img-gallery__img
        else
          img(src="img/"+i+".jpg").img-gallery__img

