ul.menu--main
  li.menu__item: a(href="#home").menu__link.active Inicio
  li.menu__item: a(href="#gallery").menu__link Galería
  li.menu__item: a(href="#about").menu__link Sobre mí
  li.menu__item: a(href="#contact").menu__link Contacto
