<!DOCTYPE html>
html(lang="es")
  head
    title CSS Desde Cero - Proyecto final
    meta(name="viewport" content="width=device-width,user-scalable=no, initial-scale=1")
    link(rel="stylesheet" href="css/styles.css")
    link(href="https://file.myfontastic.com/fwbDh29DPKsnPs3UFDshy6/icons.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Zilla+Slab:400,400i,600,600i" rel="stylesheet")
  body
    header.l-container
      block header
    nav.l-container
      block nav
    .banner-container.l-container--full
      block banner
    .gallery-container.l-container.l-section
      block gallery
    .about-container.l-container--full.l-section
      block about
    .contact.l-container.l-section
      block contact
    footer.footer.l-container--full
      block footer


